:root {
  --magic-player-timeline-track-height: 0.25rem;
}

.magic-player-timeline {
  position: relative;
  width: 100%;
  height: var(--magic-player-timeline-track-height);
  display: flex;
  align-items: center;
  touch-action: none;
}

.magic-player-timeline__target {
  position: relative;
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

[data-dragging='true'] .magic-player-timeline__target {
  cursor: grabbing;
}

.magic-player-timeline__track {
  position: relative;
  width: 100%;
  height: var(--magic-player-timeline-track-height);
  background: rgba(250, 250, 250, 0.15);
  border-radius: 50rem;
}

.magic-player-timeline__inner-track {
  position: relative;
  border-radius: 50rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.magic-player-timeline__thumb {
  position: absolute;
  width: var(--magic-player-timeline-track-height);
  height: var(--magic-player-timeline-track-height);
  z-index: 10;
}

.magic-player-timeline__thumb-handle {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms ease;
  z-index: 10;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 50rem;
}

.magic-player-timeline__scrubbed,
.magic-player-timeline__seeked,
.magic-player-timeline__buffered {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: calc(-100% + var(--magic-player-timeline-track-height));
  background: currentColor;
  border-radius: 50rem;
}

.magic-player-timeline__scrubbed {
  z-index: 1;
  min-width: var(--magic-player-timeline-track-height);
  display: flex;
}

.magic-player-timeline__seeked {
  opacity: 0.25;
}

.magic-player-timeline__buffered {
  opacity: 0.15;
}

.magic-player-timeline:hover .magic-player-timeline__thumb-handle {
  transform: translate3d(-50%, -50%, 0) scale(1);
}
.magic-player-display-time {
  height: 100%;
  width: 4rem;
  font-size: 0.875rem;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-variant-numeric: tabular-nums;
}

:root {
  --magic-player-video-controls-left: 1.5rem;
  --magic-player-video-controls-height: 3rem;
}

@media (max-width: 640px) {
  :root {
    --magic-player-video-controls-height: 2.5rem;
    --magic-player-video-controls-left: 0.75rem;
  }
}

.magic-player-video-controls {
  position: absolute;
  inset: 0;
  width: 100%;
  pointer-events: none;
}

.magic-player-video-controls-enter-active {
  animation: fade-up-in 150ms ease;
}

.magic-player-video-controls-leave-active {
  animation: fade-up-out 150ms ease;
}

.magic-player-video-controls__bar {
  position: absolute;
  width: calc(100% - (var(--magic-player-video-controls-left) * 2));
  bottom: 1.5rem;
  left: var(--magic-player-video-controls-left);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  pointer-events: auto;
}

.magic-player-video-controls__bar--inner {
  width: 100%;
  box-sizing: border-box;
  height: var(--magic-player-video-controls-height);
  padding: 0 0.75rem;
  background-color: rgba(32, 32, 32, 0.8);
  backdrop-filter: blur(80px);
  color: rgba(255, 255, 255, 1);
  border-radius: 50rem;
  display: flex;
  align-items: center;
}

.magic-player-video-controls__item {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.magic-player-video-controls__item.-shrink-0 {
  flex-shrink: 0;
}

.magic-player-video-controls__item.-grow {
  flex-grow: 1;
}

.magic-player-video-controls__item button {
  background-color: transparent;
  color: inherit;
  border: 0;
  outline: none;
  appearance: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  width: 3rem;
  height: var(--magic-player-video-controls-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.magic-player-video-controls__item button svg {
  display: block;
  width: 1.25rem;
  height: auto;
}

.magic-player-video-controls__timeline {
  width: 100%;
}

.magic-player-video-controls[data-standalone='true'] {
  position: relative;
  inset: unset;
  width: 100%;
  --magic-player-video-controls-left: 0;
  & .magic-player-video-controls__bar--inner {
    background-color: transparent;
    backdrop-filter: none;
  }

  & .magic-player-video-controls__bar {
    position: relative;
    bottom: 0;
    padding: 0;
    background-color: transparent;
    border-radius: unset;
    backdrop-filter: none;
  }
}
